createdAt: "2018-09-16T15:11:43.938Z"
updatedAt: "2018-09-16T15:12:06.948Z"
type: "MARKDOWN_NOTE"
folder: "b0ffd57d08bd352ab40c"
title: "HTML的样式"
content: '''
  # HTML的样式
  在网页上使用css本身没有什么问题，虽然菜鸟教程上给我们举了很多例子，但是都不重要，重要的是我们要知道加入css代码的三种方式，而且可以熟练使用。
  
  三种方式分别为内联样式，内部样式表，外部样式表。这三种定义的样式优先级从低到高。
  
  ## 内联样式
  话不多说，先上代码：
  ```HTML
  <p style="color:red">我不重要</p>
  ```
  内联样式就是直接在标签中用style属性定义它的样式，很直接，很粗暴。而且这样写优先级最高。现在只有这一句，但是如果我们想让文章的每一个段落都用这样的样式呢？
  
  ## 内部样式表
  如果我们想让整个页面都有同一的风格样式，那我们就可以在\\<head>标签中使用\\<style>标签来定义整个文档的样式。
  
  ## 外部样式表
  用内部样式表我们只能定义本文档的样式，如果另外一个文件甚至整个网站的样式都是统一风格的。我们用外部样式表就可以对于统一的风格控制只用同一套文件而不用每个文档都定义一遍。
  ```html
  <link rel="stylesheet" type="text/css" href="theme.css">
  ```
'''
tags: []
isStarred: false
isTrashed: false
