createdAt: "2018-09-16T15:06:36.252Z"
updatedAt: "2018-09-16T15:07:14.862Z"
type: "MARKDOWN_NOTE"
folder: "b0ffd57d08bd352ab40c"
title: "标题"
content: '''
  # 标题
  ## 标题的作用
  标题很重要，我们用标题的原因是，这句话是标题，如果它是一级标题那就用h1，如果是二级标题就用h2.
  
  ## 标题的使用误区
  我们用标题的目的不是为了得到想要的大小的字体，如果是想要得到加粗的，或者更大的字体，我们就用style属性去定义而不是用标题标签。
  
  ## 标题的样式是可以自定义的
  我们也可以使用style属性去定义标题文字的大小和样式。所以标题是功能标签，而不是样式标签。
  
  ## 标题分割线
  我们可以使用"\\<hr>"标签产生标题底下的分割线.就像这样:
  <h1>Hello World</h1>
  <hr>
  <p>我是一个段落<p>
'''
tags: []
isStarred: false
isTrashed: false
