createdAt: "2018-09-22T01:18:31.379Z"
updatedAt: "2018-09-22T01:19:20.314Z"
type: "MARKDOWN_NOTE"
folder: "85da8f1779fd4aa1941c"
title: "折腾了一天邮箱。"
content: '''
  # 折腾了一天邮箱。
  
  ## 整理QQ邮箱的文件夹
  
  发现其实QQ邮箱的文件夹、收信规则以及反垃圾已经做的很好了。不知道其他邮箱有没有这么完善的机制，肯定是每个邮箱多多少少肯定都是有的，但是具体怎么使用，完善度怎么样就不得而知了。我也只深入研究了QQ邮箱。iCloud也有，我没有仔细看。163广告比较多，我没有仔细深入的看他们的设置。所以这里主要说的是QQ邮箱。
  
  可以添加自定义文件夹，待一个主题的邮件处理完成以后可以整理到文件夹。也可以设置收信规则，某些不用处理的邮件，只需要归档存着的邮件就直接通过收信规则整理就好了。反垃圾主要是黑名单和白名单，可以设置某些邮箱发过来的邮件直接放到垃圾邮件中，一段时间后还是满了以后就没有了，起码是不会给你通知打扰你。大概就是这个样子。
  
  ## 尝试几种邮箱客户端
  
  尝试过iPhone上的邮箱软件，Mac上的邮箱软件，iPhone上的QQ邮箱，iPhone上的网易邮箱，还有Mac上的Foxmail。
  
  现在知道了邮箱客户端和邮箱服务器的关系。客户端只是一个客户端，跟某些命令行软件的可视化软件一样，只是做了通用的兼容的功能。其实每个邮箱的处理方式都是不同的，他们的收信方式，文件管理方式。但是也是大同小异，所以可以通过同一个邮箱去收。而且做到了多个收件箱的邮件都放到同一个大收件箱中，这样就减少了管理成本。但是如果想要分明的管理邮件的话，可能是我现在看得少，不是很熟悉的使用；然后也是自己老给自己发邮件，所以更混乱的缘故。而且不同的客户端上显示方式不同。所以给我造成了很大的混乱。现在处理方式就是一个客户端处理一种邮箱。苹果自带的邮箱软件只处理iCloud邮箱。然后专门下载QQ邮箱处理腾讯的邮箱。这样申请的163邮箱也就用处不大了。最开始看错了，以内不用登陆吧，所以以为iCloud是只能收邮件，不能发邮件。我就专门注册了163作为一个更QQ邮箱共同地位的邮箱。现在看起来就不必要了。
  
  ## 自己的文件整理
  
  暂时自己就是把垃圾邮件用反垃圾处理，直接放到垃圾邮件。
  账单专门放一个文件夹，自动处理。
  还算有点看头的东西放到订阅文件夹，自动处理。
  自己从iCloud发的邮件自动放到我的邮件文件夹，自动处理。
  其他的有用的就放在收件箱，然后时间长了没用的就看心情删掉。
  
  QQ邮箱可以单文件50M以下，然后总量无限制大。利用邮箱本身的按照主题整理的方式。很适合自己整理自己的文件。以后写东西就在一个主题写一篇文章，然后事后可以回复作为补充。然后QQ邮箱无限制，所以我就用iCloud给QQ邮箱发邮件，然后在QQ邮箱那边整理。QQ邮箱不给自己发邮件。这样避免了混乱。
'''
tags: []
isStarred: false
isTrashed: false
