createdAt: "2018-09-16T15:07:32.533Z"
updatedAt: "2018-09-16T15:07:41.055Z"
type: "MARKDOWN_NOTE"
folder: "b0ffd57d08bd352ab40c"
title: "段落"
content: '''
  # 段落
  ## 为什么我们要\\<br>标签
  段落是一个块级元素，所以会自动在段落前后添加空行。在段落中间如果想要折行，我们可以使用"\\<br>"标签。
  我们为什么不直接重新写一个段落。因为我们应该尊重每个标签的意义。"\\<p>"标签的意义是段落，所以如果在逻辑上，我们这段文字还是一个段落内，只是在这个逻辑段落内需要一个视觉上的折行，所以我们只要一个段落标签，还需要一个折行标签。
  
  ## 为什么要忽略多余的空格
  同样的道理，我们的HTML只是为了搭建文档的内容框架，负责内容上的逻辑。我们用那么多的空格无非是想要更好看的排版，但是我们有CSS可以提供更专业的排版，可以做到在不同的设备上都有良好的显示效果，但是如果空格排版的话，在不同的设备上会得到不同的效果。肯定不是我们预期的效果。
'''
tags: []
isStarred: false
isTrashed: false
