createdAt: "2018-09-22T01:18:31.492Z"
updatedAt: "2018-09-22T01:18:56.836Z"
type: "MARKDOWN_NOTE"
folder: "85da8f1779fd4aa1941c"
title: "关掉QQ邮箱回复带上原文"
content: '''
  # 关掉QQ邮箱回复带上原文
  打开QQ邮箱 =》 右上方➕  =》 设置  =》 回复/转发 =》 勾选回复邮件时不带上原文
  
  至于为什么呢？底下的想看了看，不想看了就无所谓了。
  
  在QQ邮箱网页版的设置中， 有这么一个选项：可以设置邮件的列表视图：有标准模式和会话模式两种。底下也说了[什么是标准模式，什么是会话模式](http://service.mail.qq.com/cgi-bin/help?subtype=1&&id=23&&no=218)。他们给的解释其实已经足够清楚了。
  
  说这个模式之前我想先说下以前的手机短信的那种查看方式，以前的短信就是一条一条的短信，不会说像现在这样同一个联系人的所有互相发的短信都放在一起。然后后来的聊天软件比如QQ，微信都是通过联系人把所有的信息都归类在一起了。但是以前的时候不会分类，打开短信，就看到的是一条一条的短信，而不是一堆联系人。跟这个发展过程一样，邮件最初也是一条一条的，像最开始的短信一样。我觉得短信就是仿照邮件做的一个更方便的，内容更短小的一种聊天方式。以前人肯定发邮件需要专门去电脑上，比较麻烦，后来发明了短信，用手机就可以和邮件的方式一样的发信息了。
  
  但是这种最初的方式，把所有的信息，邮件都放在列表上，然后按照时间往下排，我相信你也很容易想到弊端是什么，我们很不好找。所以短信和邮件都在容易阅读上做了改进。现在的短信就根据联系人分组了。现在的邮件普遍是根据主题分组的。我觉得这是因为邮件和短信用途不同所以进化方式不同吧。邮件说了那么长肯定是有主题的；短信很短只有一句话，都凸显不出什么主题来。虽然我们的短信现在是按照联系人分了组的，但是其实一条短信本身还是独立的，就像其实你可以在手机上设置，让它还按照之前的列表显示，也可以设置通过联系人分组显示。邮箱也是一样，可以用最开始提到的标准模式还是会话模式。
  
  现在我们来说“回复邮件时带上原文”。以前标准模式的时候邮件都是一条一条的嘛。如果我回复你邮件的时候是想给某一封邮件回复的，你看到我的回复的时候你是需要知道我是看到了什么才给你回复的。这时候他们在会话模式还没有发明出来之前就想出来这么一个办法，就是发邮件的时候把原文放在后边。但是现在已经不需要把原文放在后边了，因为我们已经通过同一个主题的分组可以看到之前的邮件了。如果还放在后边就会变得很长，更不容易阅读了。所以我们为了迎合时代的发展，如果用标准模式，那就需要回复邮件时带上原文；如果是会话模式，就不必多此一举了。
'''
tags: []
isStarred: false
isTrashed: false
