createdAt: "2018-09-22T01:22:44.202Z"
updatedAt: "2018-09-22T01:22:44.202Z"
content: '''
  自己的MacBook pro 2017款在使用了8个多月以后，键盘四个按键出现了点一次出现两个字符甚至更多的情况。现在已经修好了，说说自己的经历和感想。
  
  刚开始发现x键有这个问题，而且比较严重，大概10次就有一次。然后i也有问题。没有维修过，也不知道怎么弄，本来在官网试试说看可以网上聊天咨询的，毕竟本人比较腼腆，但是没有人回复，可能是出了什么问题吧。然后我就尝试打电话，这个倒是很快，客服态度也很好，问了问题以后给我说明怎么可以找到维修店去维修。但是当时我在岳阳，我怕送去了等不到我的电脑，所以就等回太原了在太原修。
  
  开学以后回到太原，找到了天才吧并且预约，提前赶到，本来怕我去的早了，人家还有别人预约。后来发现可能大家并没有预约，前边有一个人在排队，等到了以后说明问题直接换了两个按键，那两个按键没有问题了。
  
  但是回来以后发现还有两个按键还有问题，频率不高，但是确实有，然后隔了一天我又去了，因为不知道出了这4个别的有没有问题，而且心里总感觉即使没有问题也快了，一个一个总会坏掉的。然后提出了可以换整个键盘不，工程师说苹果说的是哪个按键坏了换哪一个。所以他就给我又换了两个按键，但是其中一个换了以后还是有问题，然后就说换整个键盘吧，过了流程，开了票，然后说最多一周，留个联系方式，等通知。但是回去了前一周过去了他们的配件还没有发货，到第二周周4中午说修好了，下午我就取回来了，新的top case。
'''
folder: "6e422758d84f15a6371a"
title: "键盘维修"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
