createdAt: "2018-09-22T01:24:21.158Z"
updatedAt: "2018-09-22T01:24:21.158Z"
content: '''
  在知乎上最近有个问题很火，大学生意外怀孕怎么办。但是他们很多都是体外射精，或者算安全期之类的。我跟女朋友做爱的时候已经算是很小心了，虽然刚开始会不带套套进去几下，但是每次都是带套的。所以几乎是不会怀孕的。不过她月经不调所以每次应该月经的时候还是会很紧张。
  
  所以以后吧更小心一点，也不是说再降低一点怀孕的几率，主要是更安心，给女朋友安全感。
  
  * 在安全期才可以不带套套进去。
  * 每次买套套的时候买几个早孕试纸，分开的时候留给她。
'''
folder: "adcc16a9342197e7a2dd"
title: "意外怀孕"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
