createdAt: "2018-09-22T01:24:21.184Z"
updatedAt: "2018-09-22T01:24:21.184Z"
content: '''
  其实关于做爱的事情，我思考的比较早，可能我们没有第一次之前我就开始有一些思考了。然后虽然我专门这么发的文章挺少的，但是可能很想给你说，所以平时聊天的时候也说过很多了。
  
  因为做爱时两个人的事情，但是你平时关于做爱的事情正儿八经说你的感觉和想法之类的比较少，但是我自己想肯定还是要考虑到你的。所以我也只能根据你平时的习惯，动作之类的我能看见的事情然后去猜测你心里的想法。但是把，其实人的表现和内心的想法本来就有很大的不同，况且还是别人在猜测，所以我想更了解你，了解你关于做爱的看法。
  
  到现在，可能基本都说过了：
  * 我想让我们互相接受对方的每一寸肌肤，对对方完全信任，这样我们就可以做各种事情，既然没人教我们做爱，那就只能我们互相探索了。
  * 如果我们探索过很多事情，有两个作用：
      * 一个是我们可以互相知道对方都喜欢什么，不喜欢什么，接受什么，不能接受什么。以后我们就知道怎样和对方做爱了。
      * 另外一个是我们学会了探索，我们每次做爱都可以想到新的方式去尝试。
  * 在无精打采的时候我们总是没有精力和心情去用心抚摸对方的，你困的不想睁眼，我想早点结束好让你睡觉。所以也不说每一次做爱都是完美的，都是那么的用心和用爱，但是也不应该每一次都不是。让做爱不再是你打起精神陪我做爱，我只是赶快倾斜自己的性欲。而是带着爱，互相抚摸每一个敏感地带，亲吻每一寸肌肤。。。我觉得做爱主要还是一个气氛吧。所以专心挺重要的，要营造那个气氛，然后我觉得过分的笑，或者弄疼对方会打破气氛把。
  * 当你说我没有底线的时候，第一反应是也不可能。现在仔细想的话，我确实没有太多不能接受的事情，不过如果你重重的的咬我的胸的时候我不是也生气了么？给我口的时候牙齿碰到小鸡鸡会不舒服。更多的以后尝试的多了自然也就多了吧。
  
  
'''
folder: "adcc16a9342197e7a2dd"
title: "性爱"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
