createdAt: "2018-09-22T01:25:03.141Z"
updatedAt: "2018-09-22T01:25:03.141Z"
content: '''
  **落下了充电器**
  ----------
  
  多花了60块钱，买了一套充电器。这个是以为自己收拾好了，然后自己这只下的意外坑了自己。所以下次尽量不要留下意外，收拾好了就是收拾好了，要不然就别告诉自己收拾好了，自己会信以为真的。
  
  然后补救的时候就重新思考补救这件事情，就是不一定跟原来一样，需要买一个头，是怎么补救，而不是怎么恢复原样。
  
  **落下了手机**
  ---------
  
   还是自己没有收拾好东西，没有意识到它的重要性，觉得烂手机，不用就随手一扔，那么长时间都没有起身收拾好，好好放起来，放到手机该放的位置上。以至于最后走的时候都没有意识到它的重要性。
  
  **坐了出租车**
  ---------
  
   坐出租车花的实在是太多了，花了100多块钱。
   首先是情急之下没有使用顺风车，因为懒惰改变了自己的初衷。也可能是觉得手机就要没有电了，所以不敢用。其实也没有什么，试试怕什么。
   然后没有注意到优惠券只能优惠4块钱，不管多少折。
  
  **今天修键盘没有发现e按键，回来了以后才发现e也有问题。**
  -------------------------------
  
   因为自己在维修之前一直在实验x和i是不是坏了，试了很多遍也没有一次像这样多打一些字，看看有没有别的坏的。不过说不定就是他们维修以后让e变坏了。
  
  充电宝没有让华丽想办法运过来
  --------------
  
  这个主要是自己没有好好思考，就告诉对方结论，在这种类似的情景就要像自己做决定一样说：等等，我想想，然后好好想想，然后在让对方做决定，毕竟自己也是很重要的当事人。
'''
folder: "e51cb037ac7880c82e0a"
title: "最近的几个错误的反思"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
